input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }
#txt_senha, #txt_telefone,#txt_login,#txt_nome,#txt_email,#txt_senha2{
    border-radius: 12px;
    outline: none;
}
